<nav class="navbar navbar-expand-lg navbar-light bg-light user-nav">
    <div class="container">
        <a class="navbar-brand" href="/index.html">
            <img src="/assets/images/logo.png" alt="Skyview Logo" height="50">
            Skyview Public School
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#userNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="userNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/student-database.html">Student Database</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/academic-records.html">Academic</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/admit-card-generator.html">Admit Card</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/marksheets.html">Marksheet</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/pages/routine6.html">Routine</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user"></i> Profile
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                        <li><a class="dropdown-item" href="/pages/user-profile.html"><i class="fas fa-user-circle me-2"></i>View Profile</a></li>
                        <li><a class="dropdown-item" href="/pages/user-list.html"><i class="fas fa-user-circle me-2"></i>View User</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#" id="logoutButton"><i class="fas fa-sign-out-alt me-2"></i>Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
